<!DOCTYPE html>
<html>
  <head>
    {{HEAD}}
  </head>
  <body  id="app">
    {{APP}}
    <!-- <script type=text/javascript
        src=https://res-static.gaosiedu.com/www/static/js/manifest.b4e9cbcc5e1f4682b85a.js></script>
    <script type=text/javascript
        src=https://res-static.gaosiedu.com/www/static/js/vendor.145f0e307179fa71336f.js></script>
    <script type=text/javascript src=https://res-static.gaosiedu.com/www/static/js/app.f6a63e1877adce0533b0.js></script> -->
  </body>
</html>