<template>
  <div class="focus por">
    <div v-swiper:mySwiper="swiperOption" v-if="focusData.length" ref="mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(item,index) in focusData" :key="index">
          <div :class="[item.element!=1?'cursor':'']">
            <img :src="item.img_url" />
          </div>

          <div
            class="banner-input"
            v-if="item.element==1"
            @mouseenter="mouseenter"
            @mouseleave="mouseleave"
          >
            <p>
              免费获得
              <br />价值300元
              <br />试听课资格
            </p>
            <div class="from-group clearfix">
              <div class="from-group-item clearfix">
                <div class="phone"></div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="请输入您的手机号"
                  v-model.trim="fixedPhone"
                  maxlength="11"
                  onkeyup="this.value=this.value.replace(/\s+/g,'')"
                />
              </div>
            </div>
            <div class="banner-btn">
              <button class="btn btn-bg-orange" @click="appointment(fixedPhone)">立即领取</button>
            </div>
          </div>

          <div class="banner-input" v-else-if="item.element==2">
            <p class="textAlign">
              更多秘笈
              <br />关注公号
            </p>
            <img src="~static/img/index/showqrcode.jpg" alt />
          </div>
        </div>
      </div>
      <div class="swiper-pagination" slot="pagination"></div>
    </div>
    <div class="page-Popup" v-show="popupShow">
      <div class="popup-content">
        <h2>
          注册免费领取试听课
          <i @click="pagePopup()"></i>
        </h2>
        <div class="from-group clearfix">
          <div class="from-group-item clearfix">
            <div class="phone">
              <span>手 机 号</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="请输入您的手机号"
              v-model.trim="phone"
              maxlength="11"
              onkeyup="this.value=this.value.replace(/\s+/g,'')"
            />
            <button type="button" class="sendCode" :disabled="codeIsDisabled">{{codeTxt}}</button>
          </div>
          <div class="from-group-item clearfix">
            <div class="phone">
              <span>验 证 码</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="请输入验证码"
              v-model.trim="vcode"
              oninput="if(value.length > 4)value = value.slice(0, 4)"
            />
          </div>
          <div class="from-group-item code-group-item por">
            <div class="phone">
              <span>图片验证码</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="请输入图片验证码"
              oninput="if(value.length > 5)value = value.slice(0, 5)"
              v-model.trim="thumbCode"
            />
            <div class="poa graphicCode">
              <div class="restCode poa" :class="{'active': verifyImgCode}"></div>
              <div class="right">
                <img class="webCode" :src="imageCodeData" />
              </div>
            </div>
          </div>
          <p class="node">未注册高思账号的手机号，登录时将自动注册</p>
          <div class="select">
            <label for="checkbox">
              <input
                type="checkbox"
                class="checkbox"
                checked
                id="checkbox"
                v-model="agreementActive"
              />
              登录代表自己同意
            </label>
            <a href="javascript:;" class="themeColor">《高思用户协议》</a>及
            <a href="javascript:;" class="themeColor">《高思隐私协议》</a>
          </div>
        </div>
        <button class="btn btn-bg-primary">注册并领取</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "focus",
  props: {
    focusData: Array
  },
  data() {
    return {
      verifyImgCode: false,
      imageCodeData: "",
      thumbCode: null,
      swiperOption: {
        loop: false,
        autoplay: 3000,
        slidesPerView: "auto",
        centeredSlides: true,
        spaceBetween: 30,
        pagination: ".swiper-pagination",
        paginationClickable: true
        // onSlideChangeEnd: swiper => {//滑动结束的回调
        //     //TODO 上报埋点
        //     var banner_impr = "banner"+(swiper.realIndex+1)+"_impr"
        //     _hmt.push(["_trackEvent", "banner", "event", banner_impr]);
        //   }
      },
      phone: null,
      fixedPhone: null,
      popupShow: false,
      name: null,
      modelShow: false,
      agreementActive: false,
      //验证码
      codeTxt: "获取验证码", //验证码内容
      count: 60, //间隔函数，1秒执行
      curCount: null, // 剩余秒
      codeIsDisabled: false, // 按钮置灰及不能点击
      interTimer: "", //定时器
      modelShow: false,
      modelShowb: false,
      vcode: null
    };
  },
  methods: {
    mouseenter: function() {
      this.$refs.mySwiper.swiper.stopAutoplay();
      this.$refs.mySwiper.swiper.disableTouchControl();
    },
    mouseleave: function() {
      this.$refs.mySwiper.swiper.startAutoplay();
      this.$refs.mySwiper.swiper.enableTouchControl();
    },
    appointment(fixedPhone) {
      // _hmt.push(["_trackEvent", "banner", "click", "banner1_click_get"]);
      this.phone = fixedPhone;
      this.popupShow = true;
      this.fixedPhone = "";
    },
    pagePopup() {
      this.popupShow = false;
      this.vcode = "";
      clearInterval(this.interTimer);
      this.codeIsDisabled = false;
      this.codeTxt = "获取验证码";
      this.curCount = this.count;
    }
  }
};
</script>

<style lang='less' scoped>
@import "~assets/style/mixins";
@import "~assets/style/varibles";
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

@media (min-width: 800px) and (max-width: 1200px) {
  .banner-input p {
    font-size: 33px;
    padding: 50px 20px 0px 23px;
    line-height: 50px;
  }
  .focus .banner-input {
    width: 235px;
    height: 375px;
    right: 96px;
    top: 50%;
    margin-top: -187px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .banner-input p {
    font-size: 33px;
    padding: 50px 20px 0px 23px;
    line-height: 50px;
  }
  .focus .banner-input {
    width: 235px;
    height: 375px;
    right: 96px;
    top: 50%;
    margin-top: -187px;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  .banner-input p {
    padding: 50px 20px 0px 26px;
    font-size: 40px;
    line-height: 55px;
  }
  .focus .banner-input {
    width: 269px;
    height: 429px;
    right: 200px;
    top: 50%;
    margin-top: -214px;
  }
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .banner-input p {
    padding: 60px 20px 10px 31px;
    font-size: 45px;
    line-height: 68px;
  }
  .focus .banner-input {
    width: 320px;
    height: 510px;
    right: 360px;
    top: 50%;
    margin-top: -255px;
  }
  .focus .banner-input .from-group .from-group-item input {
    height: 60px;
  }
  .focus .banner-input .banner-btn button.btn {
    height: 60px;
    margin-top: 10px;
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .banner-input p {
    padding: 60px 20px 10px 31px;
    font-size: 45px;
    line-height: 68px;
  }
  .focus .banner-input {
    width: 320px;
    height: 510px;
    right: 360px;
    top: 50%;
    margin-top: -255px;
  }
  .focus .banner-input .from-group .from-group-item input {
    height: 60px;
  }
  .focus .banner-input .banner-btn button.btn {
    height: 60px;
    margin-top: 10px;
    font-size: 18px;
  }
}
.cursor {
  cursor: pointer;
}
.swiper-button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-size: 8px auto;
}
.banner-input .from-group {
  width: 100%;
  margin-top: 0px;
  .from-group-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .phone {
      position: absolute;
      left: 13%;
      top: 50%;
      margin-top: -20px;
      background: url("~static/img/index/phone.png") no-repeat;
      width: 40px;
      height: 40px;
      background-size: cover;
    }
    input {
      width: 80%;
      height: 50px;
      padding-left: 22%;
      border-radius: 5px;
    }
    input:focus {
      border-color: #fff;
      .box-shadow(rgba(255, 255, 255, 0), 0.5s);
    }
  }
}
.focus {
  // margin-top: 70px;
  position: relative;
  img {
    width: 100%;
  }
  .focusItem {
    width: 100%;
    height: 800px;
    display: block;
    background-position: 50% 0;
  }
  .banner-input {
    position: absolute;
    // width: 17%;
    // height: 65%;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    // top: 50%;
    // margin-top: -14%;
    // right: 18%;
    z-index: 99;
    p {
      // padding: 20px 20px 10px 20px;
      color: #fff;
    }
    p.textAlign {
      padding: 60px 0 5px 0;
      text-align: center;
    }
    img {
      display: block;
      width: 60%;
      margin: 20px auto;
    }
    .banner-btn {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 80%;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
      }
    }
  }
}

.swiper-container /deep/ .banner-input-bullet {
  background: @whiteColor;
  border-radius: 0;
  width: 35px;
  height: 4px;
  opacity: 0.4;
}

.swiper-container /deep/ .swiper-pagination-bullet {
  background: @whiteColor;
  border-radius: 0;
  width: 35px;
  height: 4px;
  opacity: 0.4;
}
.swiper-container /deep/ .swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-size: 8px auto;
}
.page-Popup {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  .popup-content {
    position: absolute;
    width: 480px;
    height: 500px;
    border-radius: 4px;
    background-color: #fff;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -240px;
    .node,
    .select {
      text-align: center;
      color: #666666;
    }
    .select {
      font-size: 12px;
    }
    button.sendCode {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -9px;
      font-size: @font12;
      color: #6abd79;
      cursor: pointer;
      width: auto;
      height: auto;
      background-color: #fff;
    }
    h2 {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      background-color: #25cd6a;
      color: #fff;
      line-height: 70px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative;
      i {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url(~static/img/index/close.png) no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        right: 20px;
        cursor: pointer;
        transition: 1s;
      }
      i:hover {
        transform: rotate(180deg); /*2D旋转 deg参数为旋转的角度*/
        -ms-transform: rotate(180deg); /*兼容IE9浏览器*/
        -webkit-transform: rotate(180deg); /*兼容谷歌浏览器*/
        -o-transform: rotate(180deg); /*兼容opera浏览器*/
        -moz-transform: rotate(180deg);
      }
    }
    button {
      width: 320px;
      height: 56px;
      border-radius: 8px;
      margin: 20px auto 0;
      display: block;
      font-size: @font18;
    }
  }
}
.page-Popup .from-group {
  margin-top: 40px;
  .from-group-item {
    margin: 0 auto 20px;
    width: 400px;
    padding: 0 !important;
    .phone {
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -20px;
    }
    input.form-control {
      height: 56px;
      line-height: 56px;
      border-radius: 8px;
      background-color: #fff;
      padding-left: 105px;
    }
    ::-webkit-input-placeholder {
      color: #ccc;
    }
    ::-moz-placeholder {
      color: #ccc;
    }
    .graphicCode {
      top: 7px;
      right: 7px;
      .restCode {
        background: url("~static/img/index/login-restcode.png") no-repeat;
        width: 22px;
        height: 22px;
        top: 50%;
        right: -32px;
        margin-top: -11px;
        cursor: pointer;
        &.active {
          background: url("~static/img/CheckBox-active.png") no-repeat;
        }
      }
    }
  }
}
</style>
