<template>
  <div id="footer">
    <div class="footer-container clearfix"  v-show="this.isBody">
      <div class="wrapper">
        <div class="footer-appCode">
          <img src="~static/img/app-code.jpg" alt="appCode" />
          <div class="text">
            扫描二维码
            <br />下载高思教育APP
          </div>
        </div>

        <div class="footer-contact">
          <div class="area about">
            <h3>
              <nuxt-link to="/about">关于我们</nuxt-link>
            </h3>
            <ul>
              <!-- <li>
                <nuxt-link to="/schoolIndex">高思校区</nuxt-link>
              </li> -->
              <li>
                <nuxt-link to="/refundProtocol">收退费须知</nuxt-link>
              </li>
              <li>
                <nuxt-link to="/recordConten">备案内容承诺</nuxt-link>
              </li>
              <li>
                <a href="https://app.mokahr.com/apply/gaosiedu/316" target="_blank">加入我们</a>
              </li>
              <li>
                <nuxt-link to="/contact">联系我们</nuxt-link>
              </li>
            </ul>
          </div>
          <div class="area size">
            <h3>相关网站</h3>
            <ul>
              <li v-for="wItem in footWeb" :key="wItem.id">
                <a :href=wItem.url :target=wItem.link>
                  <img :src=wItem.menu_ico alt />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="wrapper">
        <div class="footer-link">
          友情链接：
          <a
            v-for="(item,index) in footLink"
            :key="index"
            :href="item.url"
            target="_blank"
            :class="(index+1) < footLink.length ? 'border-right' : ''"
          >{{item.title}}</a>
        </div>
        <div class="copyright-text">
          <a
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802023866"
            target="_blank"
          >
            <img src="http://static.gaosiedu.com/www/2015/images/gongan-ico.png" /> 京公网安备 11010802023866
          </a> 
          <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备12028606号-1</a>
           京ICP证B2-20170629号
          <br />
          Copyright © {{year}} Gaosiedu.com, All Rights Reserved 高思教育 版权所有北京高思博乐教育科技股份有限公司
        </div>
      </div>
    </div>
    <!--sidebar-->
    <sidebar v-if="isSidebar" />
  </div>
</template>

<script>
import sidebar from "@/components/Sidebar";
export default {
  name: "homeFooter",
  props: {
    isBody: {
      type: Boolean,
      default: true
    },
    isSidebar: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      footLink: [],
      footWeb: [],
      year: new Date().getFullYear()
    };
  },
  mounted() {
    this.getNavLink();
    this.getRelWebsites();
  },
  methods: {
    //    友情链接
    getNavLink() {
      let query = {
        type: 2
      };
      let option = {
        type: "get",
        api: "/manage/menu",
        query: query
      };
      this.$request(option, res => {
        this.footLink = res.data.son;
      });
      // let url = "/manage/menu";
      // this.$axios.get(url, {
      //      params:{
      //         nav_name: '底部导航'
      //     }
      // }).then((res)=> {
      //     console.log(res)
      // })
      // .catch(function (error) {
      //     alert(error)
      // })
    },
    // 相关网站
    getRelWebsites() {
        let query = {
        type: 3
      };
      let option = {
        type: "get",
        api: "/manage/menu",
        query: query
      };
      this.$request(option, res => {
        this.footWeb = res.data.son;
      });
    }
  }
};
</script>

<style lang='less' scoped>
@import "~assets/style/mixins";
@import "~assets/style/varibles";
.footer-container {
  background: @whiteColor;
  border-top: 1px solid #efefef;
  padding: 35px 0;
}
.footer-appCode {
  padding: 18px 110px 18px 40px;
  float: left;
  overflow: hidden;
  border-right: 1px solid @lightGrayColor;
  img {
    width: 110px;
    height: 110px;
    display: block;
    float: left;
  }
  .text {
    float: left;
    padding-left: 40px;
    color: @grayColor;
    text-align: center;
    font-size: @font12;
    line-height: 1.5;
    &::before {
      content: "";
      background: url("~static/img/footer-code-logo.png") no-repeat;
      display: block;
      width: 50px;
      height: 50px;
      margin: 10px auto 5px auto;
      border-radius: 3px;
      border: 1px solid @lightGrayColor;
    }
  }
}
.footer-contact {
  float: right;
  overflow: hidden;
  .area {
    float: left;
    width: 300px;
    h3 {
      font-size: @font18;
      padding: 10px 0;
    }
    li {
      line-height: 38px;
    }
  }
  .about {
    text-align: center;
  }
  .size {
    width: 490px;
    li {
      float: left;
      margin: 0 50px 20px 0;
      img {
        width: 100px;
        height: 40px;
      }
    }
  }
}
.footer-link {
  padding: 20px 0 5px 0;
  font-size: @font14;
  color: @whiteColor;
  a {
    color: @whiteColor;
    padding: 0 6px;
  }
}
.footer-copyright {
  background: @darkColor;
  padding-bottom: 10px;
}
.copyright-text {
  color: @grayColor;
  font-size: @font12;
  text-align: center;

  a {
    color: @grayColor;
  }
}
</style>