<template>
  <div class="header">
    <div class="wrapper clearfix">
      <nuxt-link to="/index" class="logos">
        <img src="~static/img/logo.png" alt="logo" />
      </nuxt-link>
      <div class="tLoginMenus">
        <!-- <template v-if="Object.keys(this.user).length >0">
          <div class="tUserInfo clearfix">
            <div class="info left por">
              <span>{{this.user.name}}</span>
              <img :src="this.$store.state.user.avatar" width="35" height="35" class="avatar" />
            </div>
          </div>
        </template> -->
        <template >
          <!-- <div class="signIn"> -->
          <router-link to="/loginCode" class="links signIn">登录/注册</router-link>
          <!-- <router-link to="/loginCode" class="links">注册</router-link> -->
          <!-- </div> -->
        </template>
      </div>
      <nav>
        <ul class="hover-transition">
          <li class="item" v-for="item in homeNavData" :key="item.id">
            <div class="NavSub course-core por">
              <nuxt-link v-if="item.bd_label==null" :to="'/'+(item.url=='index'?'':item.url)" class="sub">{{item.title}}</nuxt-link>
              <nuxt-link
                v-else
                :to="'/'+ item.url"
                class="sub"
                @click="onClick(item.bd_label)"
              >{{item.title}}</nuxt-link>
              <div class="poa liveInfo" v-if="item.title == '去上课'">点我去上直播课</div>
              <div class="drop-down" v-if="Boolean(item.son)">
                <ul>
                  <li class v-for="sItem in item.son" :key="sItem.id">
                    <a
                      v-if="sItem.bd_label==null"
                      :href="sItem.url"
                      :target="sItem.link"
                      exact
                      replace
                      @click="couresIndexL(sItem.bd_label)"
                    >{{sItem.title}}</a>
                    <a
                      v-else
                      :href="sItem.url"
                      :target="sItem.link"
                      exact
                      @click="couresIndexL(sItem.bd_label)"
                      replace
                    >{{sItem.title}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: "homeHeader",
  props: {},
  data() {
    return {
      homeNavData: []
    };
  },
  mounted() {
    this.getMenu();
  },
  methods: {
    // 获取导航
    getMenu() {
      let query = {
        type: 1
      };
      let option = {
        type: "get",
        api: "/manage/menu",
        query: query
      };
      this.$request(option, res => {
        this.homeNavData = res.data.son;
        // if (res.data.son) {
        //   localStorage.setItem("homeNavData", JSON.stringify(res.data.son));
        // }
      });
    }
  }
};
</script>

<style lang='less' scoped>
@import "~assets/style/varibles";
@import "~assets/style/mixins";
.header {
  background: @whiteColor;
  height: 70px;
  .box-shadow(#e5e5e5, 1s);
  .logos {
    padding: 15px 0;
    display: block;
    float: left;
    img {
      height: 40px;
    }
  }
  nav {
    float: right;
    margin-right: 30px;
    // overflow: hidden;
    // width: 780px;
    li.item {
      float: left;
      line-height: 40px;
      margin-top: 13px;
      .hover-frame {
        width: 130px;
        height: 32px;
        border-radius: 3px;
        margin-top: 19px;
        position: relative;
        span {
          position: absolute;
          left: 15px;
          top: 0px;
          line-height: 32px;
        }
        .triangle {
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -3px;
          width: 0;
          height: 0;
          border-width: 6px 6px 0;
          border-style: solid;
          border-color: #666 transparent transparent;
        }
      }
      .course-core:hover .triangle {
        border-color: @themeColor transparent transparent;
      }
      .course-core:hover {
        color: @themeColor;
      }
      .course-core:hover .drop-down {
        display: block;
      }
      .liveInfo {
        background: url("~static/img/nav-tip.png") no-repeat;
        text-align: center;
        bottom: -25px;
        left: 15px;
        font-size: 10px;
        width: 94px;
        line-height: 36px;
        color: @whiteColor;
        animation: fade 1200ms infinite;
        -webkit-animation: fade 1200ms infinite;
        z-index: 99;
      }
      @keyframes fade {
        from {
          opacity: 1;
        }
        50% {
          opacity: 0.6;
        }
        to {
          opacity: 1;
        }
      }

      @-webkit-keyframes fade {
        from {
          opacity: 1;
        }
        50% {
          opacity: 0.6;
        }
        to {
          opacity: 1;
        }
      }
      .drop-down {
        position: absolute;
        width: 80px;
        z-index: 2;
        display: none;
        left: 50%;
        margin-left: -40px;
        padding-top: 13px;
        ul {
          padding: 0 8px 8px;
          box-shadow: 0px 11px 43px -12px rgba(134, 134, 134, 0.26);
          background: rgba(255, 255, 255, 1);
        }
        a {
          font-size: 15px;
          display: block;
          line-height: 45px;
          position: relative;
          text-align: center;
          border-bottom: 1px solid #f8f8f8;
        }
        a:hover {
          border-bottom: 1px solid @themeColor;
        }
      }
      a.sub {
        font-size: 14px;
        padding: 0 18px;
        display: block;
        font-weight: bold;
        &::after {
          content: "";
          width: 20px;
          height: 4px;
          border-radius: 2px;
          background: #fff;
          display: block;
          margin: 0 auto;
        }
      }
      a.sub.nuxt-link-active::after {
        content: "";
        background: @themeColor;
      }
      a.sub.nuxt-link-active {
        color: @themeColor;
      }
      a:hover {
        .transition(0.5s);
        color: @themeColor;
      }
    }
    .border-left::before {
      top: 20px;
      height: 30px;
    }
    .subitem {
      display: none;
      z-index: 99;
      background: rgba(243, 243, 243, 0.85);
      width: 100%;
    }
    .list li {
      text-align: center;
    }
    .list li a {
      display: block;
      line-height: 40px;
    }
    .list li a:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    .open .subitem {
      display: block;
    }
  }
}
.tLoginMenus {
  float: right;
  .flex;
  .item-align;
  .signIn {
    margin-top: 17px;
    width: 110px;
    background-color: rgba(48, 191, 121);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links {
    padding: 5px 0;
    color: #fff;
  }
  .tUserInfo {
    .nav a {
      color: @middleGrayColor;
      font-size: 26px;
      margin: 0 10px;
      position: relative;
      line-height: 70px;
      em {
        display: none;
        width: 23px;
        height: 23px;
        line-height: 23px;
        background: #f55858;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 16px;
        text-align: center;
        position: absolute;
        right: -15px;
        top: -15px;
        border: 2px solid #ffffff;
      }
    }
    a:hover {
      .transition(0.5s);
      color: @themeColor;
    }
  }
  .avatar {
    border-radius: 50%;
    margin-left: 10px;
  }
  .info {
    color: @middleGrayColor;
    padding: 18px 0 17px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    span {
      display: inline-block;
      .ellipsis;
      max-width: 56px;
    }
    &:hover {
      .dropdowns {
        display: block;
      }
    }
  }
}
.dropdowns {
  display: none;
  width: 160px;
  background: @whiteColor;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 70px;
  z-index: 99;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    position: absolute;
    right: 10px;
    top: -6px;
    background: #fff;
    transform: rotate(-45deg);
  }
  li {
    border-bottom: 1px solid @lightGrayColor;
    padding: 15px 0 15px 30px;
    &:last-child {
      border-bottom: 0;
    }
  }
}
</style>