<template>
    <div 
        class="modalAds" 
        v-show="hideAds"
    >
        <div class="bodys por">
            <div 
                :class="[WindAdsData[0].element!=1?'cursor':'']"
                class="images"
            >
                <img 
                    :src="WindAdsData[0].img_url" 
                    ref="offset"
                />
            </div>
            <div 
                class="close"
                @click="clickCloseAds"
            ></div>
        </div>
    </div>
</template>

<script>
    export default {
       name: 'modalAds',
        props:{
            hideAds: Boolean,
            WindAdsData: Array
        },
       data () {
           return {
               
           }
       },
        components: {},
        methods: {
            clickCloseAds(){
                this.$emit('ToggleModalAds', false);
                
            },

            // // 跳转二级页判断登录
            // goColdSpring() {
            //     if (this.WindAdsData[0].element == 3) {
            //         var user = localStorage.getItem("user");
            //         if (!user || user == "{}") {
            //         var link = this.WindAdsData[0].link;
            //         this.$toast.center("请先登录");
            //         this.$router.push({ path: "/loginCode", query: { link: link } });
            //         } else {
            //         var userP = JSON.parse(localStorage.getItem("user"));
            //         this.$cookies.set("stu_code", userP.code, null, null, ".gaosiedu.com");
            //         window.open(
            //             this.WindAdsData[0].link,
            //             this.WindAdsData[0].link_target
            //         );
            //         }
            //     } else if (this.WindAdsData[0].element == 1) {
            //         return;
            //     } else {
            //         window.open(
            //             this.WindAdsData[0].link,
            //             this.WindAdsData[0].link_target
            //         );
            //     }
            // },
        },
        
        mounted(){
           
        }
    };
</script>

<style lang='less' scoped>
    @import "~assets/style/mixins";
    @import "~assets/style/varibles";
    .modalAds {
        position: fixed;
        background: rgba(0, 0, 0, .7);
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 658px;
            height: 494px;
        }
        .cursor {
            cursor: pointer;
        }
        .close {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 100px;
            height: 100px;
            cursor: pointer;
        }
    }
</style>
