<template>
    <div class="page page3">
      <div class="wrapper">
        <div class="content">
          <div class="title">
            <h2>
              <span>源于北京</span>深耕北京 更懂北京
            </h2>
            <p>一步步走进京城家庭 读懂孩子的期望</p>
          </div>
          <div class="core-intro">
            <ul>
              <li>
                <img src="~static/img/index/page3-33.png" alt />
              </li>
              <li class="link"></li>
              <li>
                <img src="~static/img/index/page3-19.png" alt />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "Page3",
};
</script>

<style lang='less' scoped>
@import "~assets/style/mixins";
@import "~assets/style/varibles";
.page3 {
  background: #fff url("~static/img/index/page3-bg.png") no-repeat 50% 100%;
  height: 700px;
}
.page3 .title {
  padding-top: 70px !important;
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 18px;
    color: #666;
  }
}
.page3 .core-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  li {
    float: left;
    // padding: 120px 125px 173px;
    padding: 0px;
    img {
      height: 112px;
    }
  }
}
.page3 .core-intro .link {
  width: 1px;
  height: 112px;
  background-color: #333;
  margin: 0 125px;
}
</style>