<template>
  <div class="page page2">
    <div class="wrapper">
      <div class="content">
        <div class="title">
          <h2>全学科专属定制</h2>
          <p>凸显个性 彰显实力</p>
        </div>
        <div class="exclusive clearfix">
          <ul class="clearfix">
            <li>
              <img src="~static/img/index/page2-logo1.png" alt />
              <h2>高斯数学</h2>
              <p>让孩子主动思考</p>
              <p>爱上学习</p>
            </li>
            <li>
              <img src="~static/img/index/page2-logo2.png" alt />
              <h2>思泉语文</h2>
              <p>爱上语文</p>
              <p>做有修养的人</p>
            </li>
            <li>
              <img src="~static/img/index/page2-logo3.png" alt />
              <h2>思高英语</h2>
              <p>学好英语</p>
              <p>做有国际视野的人</p>
            </li>
            <li>
              <img src="~static/img/index/page2-logo4.png" alt />
              <h2>元本物理</h2>
              <p>探寻物理之源</p>
              <p>奠定高素质之本</p>
            </li>
            <li>
              <img src="~static/img/index/page2-logo5.png" alt />
              <h2>点燃化学</h2>
              <p>让学习高效一点</p>
            </li>
            <li>
              <img src="~static/img/index/page2-logo6.png" alt />
              <h2>显微生物</h2>
              <p>热爱自然</p>
              <p>敬畏生命</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page2"
};
</script>

<style lang='less' scoped>
@import "~assets/style/mixins";
@import "~assets/style/varibles";
.page2 {
  background-color: rgba(249, 250, 254, 1);
}
.page2 .title {
  padding-top: 70px !important;
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 18px;
    color: #666;
  }
}

.page2 .exclusive {
  padding: 70px 0;
  ul {
    margin: 0 -24px 0 0;
  }
  li {
    width: 180px;
    height: 275px;
    border-radius: 8px;
    background-color: #fff;
    float: left;
    margin: 0 24px 0 0;
    text-align: center;
    padding: 37px 0 0;
    transition: 0.5s;
    h2 {
      color: #333;
      font-size: 24px;
      padding: 20px 0 6px 0;
    }
    p {
      color: #999;
      font-size: 14px;
    }
  }
  li:hover {
    box-shadow: 0px 11px 43px -12px rgba(71, 71, 71, 0.36);
  }
}
</style>
