<template>
  <div id="sidebar" ref="sidebar" :class="{'fixed': isFixed}">
    <!-- :style="opacityStyle" -->
    <!--weChat-->
    <div class="weChat" @mouseenter="mouseenter(1)" @mouseleave="mouseleave(1)">
      <div class="title">
        <i class="icon-weChat"></i>
        <div class="name">
          微信
          <br>公众号
        </div>
      </div>
      <div class="content" :class="{'statistic':isItemActive==1}">
        <div class="erweima">
          <img src="~static/img/index/showqrcode.jpg" width="140" height="140">
          <p class="text">
            扫描二维码
            <br>关注高思公众号
          </p>
        </div>
      </div>
    </div>

    <!--app-->
    <div class="item appcode">
      <div class="title">
        <i class="icon-phone"></i>
        <div class="name">
          APP
          <br>下载
        </div>
      </div>
      <div class="content">
        <div class="erweima">
          <img src="~static/img/app-code.jpg" width="140" height="140">
          <p class="text">
            扫描二维码
            <br>下载高思APP
          </p>
        </div>
      </div>
    </div>

    <!--looyu-->
    <div class="item looyu" :class="{'open': isItemActive ==2 }">
      <div class="title" >
        <i class="icon-headset"></i>
        <div class="name" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'looyu'])">
          报班
          <br>咨询
        </div>
      </div>
      <!-- <div class="content">
        <ul class="list looyuList">
          <li @click="openSdk" class="looyuBtn1">报班咨询</li>
          <li class="looyuBtn3">
            <nuxt-link to="/feedback">意见反馈</nuxt-link>
          </li>
        </ul>
      </div>-->
    </div>

    <!--phone-->
    <div class="item tel" :class="{'open': isItemActive ==3 }">
      <div class="title" @mouseenter="mouseEnter(3)" @mouseleave="mouseLeave(3)">
        <i class="icon-tel"></i>
        <div class="name">
          客服
          <br>电话
        </div>
      </div>
      <div class="content">
        <ul class="list tel">
          <li>
            课程咨询：
            <br>
            <span>010-56639999</span>
          </li>
          <li>
            1对1课程：
            <br>
            <span>010-56639988</span>
          </li>
          <li>
            爱学习合作：
            <br>
            <span>400-898-1009</span>
          </li>
          <li>
            高思在线咨询：
            <br>
            <span>400-898-9191</span>
          </li>
        </ul>
      </div>
    </div>

    <!--opinion-->
    <nuxt-link to="/feedback" onclick="_hmt.push(['_trackEvent', 'nav', 'click', 'feedback'])">
      <div class="item opinion">
        <div class="title">
          <i class="icon-opinion"></i>
          <div class="name">
            意见
            <br>反馈
          </div>
        </div>
      </div>
    </nuxt-link>

    <!--top-->
    <div class="item backtop">
      <div class="title" @click="backtop">
        <i class="icon-arrow-top"></i>
        <div class="name">
          返回
          <br>顶部
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "homeFooter",
  props: {
    isPageHomeSidebar: {
      type: Boolean,
      default: true,
      isSdkReady: false
    }
  },
  data() {
    return {
      isItemActive: null,
      // isFixed
      isFixed: false,
      stat_type: "",
      show: false
    };
  },
  mounted() {
    this.sidebarTop = this.$refs.sidebar.offsetTop;
    window.addEventListener("scroll", this.handleScrolls);
    // 七鱼客服测试
    // (function(w, d, n, a, j) {
    //   w[n] =
    //     w[n] ||
    //     function() {
    //       (w[n].a = w[n].a || []).push(arguments);
    //     };
    //   j = d.createElement("script");
    //   j.async = true;
    //   j.src = "https://qiyukf.com/script/1683b4349849a65a015ad79149660b34.js";
    //   d.body.appendChild(j);
    // })(window, document, "ysf");

    // var vm = this;
    // ysf("onready", function() {
    //   vm.isSdkReady = true;
    // });
    // 七鱼客服正式
    (function(w, d, n, a, j) {
      w[n] =
        w[n] ||
        function() {
          (w[n].a = w[n].a || []).push(arguments);
        };
      j = d.createElement("script");
      j.async = true;
      j.src = "https://qiyukf.com/script/3a84e764158842b3f1aed3585f5f3e78.js";
      d.body.appendChild(j);
    })(window, document, "ysf");

    var vm = this;
    ysf("onready", function() {
      vm.isSdkReady = true;
    });
  },
  methods: {

    backtop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    },
    // 侧边栏功能数据统计
    postManageStatistic(stat_types) {
      let data = {
        stat_type: stat_types
      };
      let option = {
        type: "post",
        api: "manage/statistic",
        data: data
      };
      this.$request(option, res => {});
    },
    // 七鱼客服按钮点击
    openSdk() {
      var user = localStorage.getItem("user");
      if (!user || user == "{}") {
        this.$toast.center("请先登录");
        this.$router.replace("/loginCode");
      } else {
        if (this.isSdkReady) {
          let query = {};
          let option = {
            type: "get",
            api: "/user/profile",
            query: query
          };
          this.$request(option, res => {
            ysf("config", {
              uid: res.data.code,
              data: JSON.stringify([
                { key: "real_name", value: res.data.name },
                { key: "mobile_phone", value: res.data.phone },
                { key: "email", value: "" },
                {
                  index: 0,
                  key: "grade_name",
                  label: "年级",
                  value: res.data.grade_name
                }
                // {
                //   index: 1,
                //   key: "reg_date",
                //   label: "注册日期",
                //   value: "2015-11-16"
                // },
                // {
                //   index: 2,
                //   key: "last_login",
                //   label: "上次登录时间",
                //   value: "2015-12-22 15:38:54"
                // }
              ]),
              success: function() {
                ysf("open");
              }
            });
          });
        } else {
          alert("聊天正在初始化中，请稍后再试");
        }
      }
    },
    // 鼠标悬放添加class
    mouseenter: function(index) {
      this.isItemActive = index;
    },
    mouseleave: function(index) {
      this.isItemActive = null;
    },
    // 鼠标悬放添加class
    // 其他
    mouseEnter(index) {
      this.isItemActive = index;
    },
    mouseLeave(index) {
      this.isItemActive = null;
    },

    backtop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    },

    // 浮动条
    handleScrolls() {
      const top =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop;
      const tabsOffsetTop = this.sidebarTop;
      if (top > tabsOffsetTop) {
        this.isFixed = true;
      } else {
        this.isFixed = false;
      }
    }
  },
  deactivated() {
    window.removeEventListener("scroll", this.handleScrolls);
  }
};
</script>

<style lang='less' >
@import "~assets/style/mixins";
@import "~assets/style/varibles";
.active {
  display: block;
}
#sidebar {
  position: absolute;
  right: 1px;
  top: 30%;
  background: #fff;
  width: 60px;
  border: 1px solid #efefef;
  border-radius: 3px;
  z-index: 99;
  &.fixed {
    position: fixed;
    top: 20%;
    .backtop {
      display: flex;
    }
  }
  .weChat,
  .item {
    border-bottom: 1px solid #efefef;
    height: 84px;
    justify-content: center;
    cursor: pointer;
    margin-bottom: -1px;
    .flex;
    .item-align;
    // &:last-child {
    //   border-bottom: 0;
    // }
    .content {
      .transition(0.5s);
      display: none;
      position: absolute;
      right: 62px;
      top: 0;
      background: #fff;
      padding: 15px;
      border: 1px solid #efefef;
      box-shadow: 0 0 10px #efefef;
      width: 180px;
      text-align: center;
      line-height: 21px;
      color: #666;
      .text {
        padding-top: 5px;
      }
    }
    &.looyu .content {
      top: 73px;
    }
    &.tel .content {
      top: auto;
      bottom: 0;
    }
  }
  .appcode .content {
    top: 84px;
  }

  .content.statistic {
    display: block;
    animation: fadeInRight 1s 0.2s ease both;
  }

  .backtop {
    display: none;
  }
  .title {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 12px;
    color: #9a9a9a;
    line-height: 16px;
    .transition(0.5s);
    i {
      font-size: 20px;
    }
    a .name {
      color: #9a9a9a;
    }
  }

  .weChat:hover i,.weChat:hover .name,.item:hover i,
  .item:hover .name {
    color: @themeColor;
  }
  .item:hover .content {
    display: block;
    animation: fadeInRight 1s 0.2s ease both;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .list {
    li {
      border-bottom: 1px solid #efefef;
      padding: 8px 0;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
</style>
