@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?3dhdbx');
  src:  url('font/icomoon.eot?3dhdbx#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?3dhdbx') format('truetype'),
    url('font/icomoon.woff?3dhdbx') format('woff'),
    url('font/icomoon.svg?3dhdbx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';  /* project id 1494908 */
  src: url('//at.alicdn.com/t/font_1494908_mdqhjwg2118.eot?t=1583204766302'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1494908_mdqhjwg2118.eot?t=1583204766302#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1494908_mdqhjwg2118.woff?t=1583204766302') format('woff'),
  url('//at.alicdn.com/t/font_1494908_mdqhjwg2118.ttf?t=1583204766302') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1494908_mdqhjwg2118.svg?t=1583204766302#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"], [class*="form-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sousuo:before {
  content: "\e65c";
}

.icon-xiazai:before {
  content: "\e628";
}
.icon-opinion:before {
  content: "\e914";
}
.icon-weChat:before {
  content: "\e915";
}
.icon-address:before {
  content: "\e900";
}
.icon-arrow-bottom:before {
  content: "\e901";
}
.icon-arrow-top:before {
  content: "\e902";
}
.icon-attention:before {
  content: "\e903";
}
.icon-book:before {
  content: "\e904";
}
.icon-bugle:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}
.icon-correct:before {
  content: "\e907";
}
.icon-error:before {
  content: "\e908";
}
.icon-headset:before {
  content: "\e909";
}
.icon-melody:before {
  content: "\e90a";
}
.icon-msg:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e90d";
}
.icon-shopcar:before {
  content: "\e90e";
}
.icon-sort1:before {
  content: "\e90f";
}
.icon-sort2:before {
  content: "\e910";
}
.icon-stat:before {
  content: "\e911";
}
.icon-tel:before {
  content: "\e912";
}
.icon-time:before {
  content: "\e913";
}
.icon-arrowright1:before {
  content: "\e609";
}
.icon-arrowleft1:before {
  content: "\e60a";
}
.icon-doubleright:before {
  content: "\e60b";
}
.icon-Vector2:before {
  content: "\e60c";
}
.icon-editfile:before {
  content: "\e60d";
}
.icon-filebox:before {
  content: "\e60e";
}
.icon-commitfile:before {
  content: "\e60f";
}
.icon-time1:before {
  content: "\e610";
}