/*省略号*/ 
.ellipsis {
    overflow: hidden;
    white-space:  nowrap;
    text-overflow: ellipsis
}
.themeColor {
    color: @themeColor
}
/*分散*/  
.flex {
    display: flex;
}
.item-align {
    align-items: center
}
.item-flex {
    flex: 1
}
// 距中
.just-center {
    justify-content: center;
}

/* 投影 */  
.box-shadow(@color, @num: 1s) {
    box-shadow: 0 0 10px @color;
    .transition(@num)
}

/* 圆角 */
.box-radius (@num:10px) {
    border-radius: @num;
}


.transition(@num: 1s) {
    transition: ease-out @num all;
}

.hoverMixShadow(){
    &:hover{
        .box-bottom-shadow
    }
}

/* 面板 */
.panel {
    background: @whiteColor;
    .panel-heading {
        border-bottom: 2px dashed @lightGrayColor;
        line-height: 100px;
        font-size: @font26;
        padding:0 32px;
        h4 {
            font-weight: bold;
            font-size: 100%;
        }
    }
    .panel-body {
        padding: 25px
    }
    .panel-footer {
        font-size: 16px;
        padding: 10px 30px;
    }
}
.panel.panel-border {
    border: 1px solid @grayColor
}

/* tabs */
.tabs {
    border-bottom: 1px solid @lightGrayColor;
    overflow: hidden;
    .tabs-item {
        float: left;
        margin: 0 20px;
        font-size: @font18;
        position: relative;
        cursor: pointer;
        padding-bottom: 7px;
    }
    .active {
        color: @themeColor;
        font-weight: bold;
        &::after {
            content: "";
            background: @themeColor;
            height: 4px;
            overflow: hidden;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-radius: 4px;
        }
    }
}

/* form */
.from-group {
    .from-group-item {
        position: relative;
        padding: 10px 0;
        line-height: @inputHeight;
    }
    .from-flex-item {
        .form-control {
            margin: 0 15px;
        }
    }
    .label {
        line-height: @inputHeight;
    }
    .inputType {
        width: 100%;
        
        border-radius: 3px;
        border: solid 1px @inputBorderGrayColor;
        padding-left: 15px;
        box-sizing: border-box;
    }
    .form-control {
        background-color: @lightGrayColor;
        height: @inputHeight;
        .inputType 
    }
    .form-control:focus {
        border-color: @themeColor;
        .box-shadow(#CFD6CF, .5s);
    }
    .group-error {
        color: @errColor;
        height: 25px;
    }

    /* select */
    .form-select {
        position: relative;
        .form-control;
       .flex;
       .item-align;
       padding-left: 0;
       
    }
    .form-select::before {
        content: "\e902";
        height: @inputHeight - 25;
        position: absolute;
        z-index: 1;
        transform: rotate(-180deg);
        font-size: 12px;
        width: 15px;
        top: 5px;
        right: 5px;
    }
    
    select {  
        width: 100%;
        height: @inputHeight - 2;
        box-sizing: border-box;
        appearance:none;  
        -moz-appearance:none;  
        -webkit-appearance:none;  
        padding: 0 30px 0 14px;
        position: relative;
        z-index: 22;
        background: none;
    }  
    select::-ms-expand { display: none; }  
    
    .checkbox[type="checkbox"] {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        background:  #fff ;
        vertical-align: middle;
        border: 2px solid #dcdcdc;
        border-radius: 50%;
        cursor: pointer;
    }
    .checkbox[type="checkbox"]:checked{
        background: @themeColor url('~static/img/CheckBox-active.png');
        border: 0;
    }

    .textarea {
        .inputType;
        padding: 15px;
    }
}

//buttons
.btn {
    border-radius: 3px;
    border: 0;
    height: @buttonHeight;
    line-height: @buttonHeight;
    padding: 0 1em;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;.transition(.5s);
    font-family: 'Microsoft Yahei';
}

// 镂空灰
.btn.btn-default {
    border: 1px solid @inputBorderGrayColor;
    color: @darkColor;
    &:hover {
        .btn-default-hover
    }
}

// 镂空绿
.btn.btn-default-primary {
    border: 1px solid @themeColor;
    color: @themeColor;
    &:hover {
        .btn-default-hover
    }
}

.btn-default-hover {
    background:  #EBFFEE;
    color: @themeColor;
    border-color: @themeColor;
    
}

// 实灰色按钮
.btn.btn-bg-disable {
    background: @buttonDisableColor;
    color: @whiteColor;
    &:hover {
        .box-shadow(@buttonDisableColor, .5s);
    }
}

// 实绿色按钮
.btn.btn-bg-primary {
    background: @themeColor;
    color: @whiteColor;
    &:hover {
        .box-shadow(@themeColor, .5s);
    }
}

// 实橙色按钮
.btn.btn-bg-orange {
    background: @orangeColor;
    color: @whiteColor;
    &:hover {
        .box-shadow(@orangeColor, .5s);
    }
}

// 面包屑
.breadcrumb {
    padding-top: @pagerHeight;
    > li {
      display: inline-block;
      color: @middleGrayColor;
      a {
        color: @grayColor    
      }
      + li:before {
        content: "/"; 
        padding: 0 5px;
      }
    }
}

// table
.table {
    .thead {
        background: @lightGrayColor;
        border: 1px solid @inputBorderGrayColor;
        color: @middleGrayColor;
        height: 50px;
        line-height: 50px;
        
    }
    .th,.td {
        padding:0 30px;
    }
    .body {
        .tr {
            padding: 20px 0;
            border-bottom: 2px solid @tableBorderColor;
        }
    }
}

// 模态框
.modal {
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: fixed;
    left:0;
    top: 0;
    z-index: 999;
    .flex;
    .item-align;
    .just-center;

    .modal-dialog {
        width: 40%;
        max-height: 80%;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
    }

    .modal-header {
        background: @lightGrayColor;
        height: 65px;
        line-height: 65px;
        padding: 0 30px;
        position: relative;
       
    }
    .modal-title {
        font-size: @font20;
    }
    .close {
        position: absolute;
        right: 20px;
        top: 15px;
        width:30px;
        height: 30px;
        background: url("~static/img/close.png") no-repeat;
        font-size: 30px;
        cursor: pointer;
        .transition(.3s);
        &:hover {
            transform: rotate(180deg)
        }
    }
    .modal-body {
        padding: 30px;
        line-height: 2;
        font-size: @font16;
        overflow-y: auto;
        max-height: 300px;
        h4 {
            font-weight: bold;
        }
        p {
            padding-bottom: 10px;
        }
    }
    .modal-footer {
        border-top: 1px solid @lightGrayColor;
        padding: 15px 20px;
        .btn {
            margin: 0 5px;
        }
    }
}

// icon type
// 错误
.icon-type {
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    border-radius: 50%;
    color: @whiteColor;
    text-align: center;
    &.icon-correct {
        background: @themeColor;
    }
    &.icon-error {
        background: @errColor;
    }
    &.icon-ask {
        background: #c9c9c9;
        color: @whiteColor;
        font-size: 15px;
        text-align: center;
    }
}

// 箭头
.icon-arrow-top {
    &:before{
        transform:rotate(0);
        display: inline-block;
        .transition(.5s);
    }
}
.icon-arrow-bottom {
    &:before{
        transform:rotate(180deg);
    }
    display: inline-block;
    position: relative;
}

// 价格
.price {
    span {
        color: @orangeColor;
        font-size: 24px;
        white-space:nowrap;
    }
    s {
        color: @grayColor;
        font-size: @font16;
    }
}


// dropdowns
.dropdowns {
    min-width: 160px;
    background: @whiteColor;
    border: 1px solid #EBEBEB;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.06);
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 99;
    &::before{
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        border-top: 1px solid #EBEBEB;
        border-right: 1px solid #EBEBEB;
        position: absolute;
        right: 10px;
        top: -6px;
        background: #fff;
        transform: rotate(-45deg)
    }
}