/*reset*/
@media (max-width: 880px) {
    html {
        width: 100%;
        height: 100%;
    }
    input:-webkit-autofill {
        box-shadow: 0px 0px 0px 1000px white inset;
    }

    #app .main {
        padding-top: 20px;
    }
    #app .wrapper {
       width: 100%;
    }
    #app .modal .modal-dialog {
       width: 90%;
    }
    #app .panel .panel-body {
        padding: 15px;
    }
    /*header*/
    #app .header {
       height: auto;
    }
    #app .header nav {
        width: 100%;
        margin-left: 0;
        float: none;
    }
    #app .header .logos {
       float: none;
       margin-left: 10px;
       padding: 5px 0;
    }
    /* #app .header nav ul {
       overflow: hidden;
    } */
    #app .header nav li.item {
        padding: 0 3px;
        margin-top: 0;
    }
    #app .header nav li.item a.sub {
       padding: 10px 0;
       font-size: 16px;
       line-height: 30px
    }
    #app .tLoginMenus {
        position: absolute;
        right: 10px;
        top: 0;
        height: 50px;
    }
    #app .tLoginMenus .info  {
        padding-left: 0;
    }
    #app .tLoginMenus .info span {
        display: none;
    }
    
    /*couresList*/
    #app .coures-filter .typeList,
    #sidebar,
    .footer-link,
    .login-thumb {display: none;}
    #app .coures-select {
        z-index: 999;
    }
    #app .header nav .hover-transition,
    #app .coures-select .panel-body,
    #app .coures-filter .sort {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #app .coures-select .panel-body {
        padding:  0 5px;
    }
    #app .header nav li.item .drop-down a {
        font-size:12px;
    }
    #app .coures-select .item .name {
        padding: 10px 0;
        display: block;
        width: 100%;
        margin: 10px 5px;
        border-radius: 5px;
        background: #F2F2F2;
        font-size: 15px;
        position: relative;
        overflow: hidden;
        white-space:  nowrap;
        text-overflow: ellipsis
    }
    #app .coures-select .item.open .name {
        color: #6ABD79;
        
    }
    #app .coures-select .item.open .name::before {
        color: #6ABD79;
        transform: rotate(-90deg)
    }
    #app .coures-select .item .name::before {
        position: absolute;
        right: 3px;
        top: auto;
        transform: rotate(90deg);
        transition: ease-out .5s all;
    }
    #app .coures-select .item {
        flex:1;
        text-align: center;
        padding: 0;
        
    }
    #app .coures-select .item.open .box{
        display: block;
        z-index: 999;
    }
    
    .coures-select .item .box {
        display: none;
        position: absolute;
        left: 0;
        top: 68px;
        width: 0;
        width: 100%;
        height: 100%;
        z-index:-1;
    }
    
    /* #app .coures-select .item.schood:hover .from-group ,
    #app .coures-select .item:hover .box {
        display: block;
        z-index: 777;
    } */
    #app .coures-select .schood .box .from-group {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    #app .coures-select .from-group,
    #app .coures-select .box ul {
        position: relative;
        z-index: 5;
        background: #fff;
        width: 100%;
        overflow: hidden;
        padding: 10px 0;
    }
    #app .coures-select .schood .form-select {
        float: none;
        margin: 8px 0;
        width: 100%;
    }
    #app .coures-select .item  li {
        float: none;
        padding: 3px 0;
        margin-left: 15px;
        text-align: left;
    }
    #app .coures-select .item  li.cur {
        background: none;
        color: #6ABD79;
    }
    
    #app .coures-select .item:hover .box::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0,0, .4);
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: -1;
    }
    #app .coures-filter {
        padding: 15px 0;
    }
    #app .coures-filter .sort{ width: 100%;}
    #app .coures-filter .sort .item {
        padding: 0 5px;
        font-size: 12px;
    }

    #app .coures-content-list .itemInfos {
        width: 100%;
        float: none;
        padding: 15px 20px;
        box-sizing: border-box;
    }

    #app .coures-content-list .itemInfos .info{
        padding-top: 5px;
    }
    
    #app .coures-content-list .item {
        display: block;
        margin: 0 20px 20px 20px;
        box-shadow: 0 0 20px #dfdfdf;
        position: relative;
    }
    #app .coures-content-list .title {
        display: block;
        align-items: inherit
    }

    #app .coures-content-list .title h4{
        padding-left: 0;
    }
    
    #app .footer-copyright {
        padding: 10px 10px 10px 10px;
    }

    #app .coures-content-list .sideBox {
        float: none;
        width: 100%;
        border-left: 0;
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-align: right;
        display: block;
        padding-bottom: 10px;
    }

    #app .coures-content-list .sideBox .price{
        display: block;
        align-items: inherit;
        justify-content: inherit;
    }

    #app .coures-content-list .goCouresDetail{
        width: auto;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
    }
    #app .coures-content-list .goCouresDetail em {
        display: none;
    }
    #app .coures-content-list .goCouresDetail span {
        display: inline-block;
        opacity: 1;
        position: initial;
        bottom: auto;
        right: auto;
        width: auto;
        padding: 3px 10px;
        border-radius: 3px;
        font-size: 14px;
        height: 25px;
    }
    
     /*login*/
     #app .login-wrapper {
        padding: 0;
    }
    #app .headers h4 {
        padding-bottom: 10px;
    }
    #app .headers .login-type-a {
        padding-top: 20px;
    }
    #app .login-container .from-group{
        margin-top: 30px;
    }
    #app .login-container {
        border: 0;
        border-radius: 0;
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        padding: 20px 30px 50px 30px;
        box-sizing: border-box;
    }
    
    #app .login-container .from-group-item {
        display: flex;
        align-items: center;
    }
    #app .login-container .login-agreement-text {
        display: block;
    }
    #app .login-container .form-control {
        flex:1;
        width: 100%;
    }
    
    #app .login-container .from-group-item .right {
        margin-left: 15px;
    }
    
    /*校区列表*/
    #app .school-select .panel-heading{
        line-height: 30px;
        padding: 15px 20px;
    }
    #app .school-select .item .name {
        padding-right: 0;
        padding-left: 0;
    }
    #app .school-select .item ul {
        flex: 1;
    }
    #app .school-select .item ul li {
        display: inline-block;
        min-width: 40px;
    }
    #app .school-select .item {
        padding: 0;
    }
    #app .school-list {
        padding-top: 30px;
        margin-right: 0;
    }
    #app .school-list .item .thumb {
        height: auto;
    }
    #app .school-list .item {
        width: auto;
        margin: 0 20px 20px 20px;
        float: none;
    }
    #app .school-list .item img {
        width: 100%;
        height: auto;
    }
    /*footer*/
    #footer {
        position: relative;
    }
    #footer .footer-appCode {
        float: none;
        width: 110px;
        text-align: center;
        padding-left: 30px;
        padding-right: 0;
        padding-right: 30px;
    }
    #footer .footer-container {
        padding: 15px 0;
    }
    #footer .text {
        padding-left: 0;
        padding-top: 10px;
    }
    #footer .text:before {
        display: none;
    }
    #footer .about {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 180px
    }
    #footer .size {
        width: auto;
    }
    #footer .size h3 {
       padding-left: 20px;
    }
    #footer .footer-contact .size li {
        margin: 0;
        width: 33.33%;
        text-align: center;
    }

    

    /*detail coures*/
    #app .breadcrumb {
        padding-left: 20px;
        padding-top: 20px;
    }
    
    /* #app .detail-intro .thumb{
        display: none;
    } */
    #app .detail-intro .thumb {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        line-height: 0
    }
    #app .detail-intro .thumb img {
        max-height: 220px;
    }
    #app .detail-intro .itemInfos {
        width: 100%;
        float: none;
    }
    #app .detail-intro .chooseBtns .attention {
        margin-top: 10px;
        padding-left: 0;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    #app .detail-intro .chooseBtns .attention:hover {
        color: #333;
    }
    #app .detail-intro .chooseBtns  {
        display: block;
    }
    #app .detail-intro .chooseBtns input {
        width: 100%;
    }
    #app .couresDetail .chaiban .panel-body {
        margin-right: 0;
        padding-top: 0;
    }
    #app .couresDetail .chaiban .box {
        width: 100%;
        height: auto;
        margin: 10px 0;
        box-sizing: border-box;
        padding: 15px;
        border-left: 0 solid #000;
    }
    #app .couresDetail .headTabs .price {
        display: none;
    }
    #app .couresDetail .headTabs .button {
        padding-right: 15px;
    }
    #app .couresDetail .detail {
        width: 100%;
        float: none;
    }
    #app .couresDetail .aside {
        width: 100%;
        float: none;
    }
    #app .couresDetail .hotCoures {
        margin-top: 20px;
    }
    #app .couresDetail .coures-content-box {
        margin-right: 0;
    }
    #app .couresDetail .hotCoures .head{
        padding-left: 15px;
    }
    #app .couresDetail .hotCoures .item {
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 0 0 ;
        margin: 0;
        margin-bottom: 20px;
    }
    #app .couresDetail .common-item {
        padding-left: 0;
    }
    #app .couresDetail .chaiban .price {
        padding-left: 10px;
    }

    #app .coures-content-list .sideBox {
        border-top: 0;
    }

    /*about*/
    #app .about .head .enName {
        display: none;
    }

    #app .contact .content .item {
        margin: 5px 10px;
    }

    #app .schoolIntro {
        padding: 15px;
    }
    #app .activity .item,
    #app .activity .item img,
    #app .schoolIntro .photoList ,
    #app .schoolIntro .photoList img,
    #app .schoolIntro .itemInfos,
    #app .schoolIntro .videoThumb img,
    #app .cart .item .name,
    #app .cart .item .name h4,
    #app .cart .tool
    {
        width: 100%;
        float: none;
    }
    #app .activity .list {
        margin-right: 0;
    }
     #app .schoolIntro .itemInfos {
        
         margin-left: 0;
     }
     #app .schoolIntro .itemInfos .name {
         padding: 15px 0;
     }

     /*cart*/
     
     #app .cart .panel {
         position: relative;
     }
     #app .cart .panel-heading {
         line-height: 70px;
     }
     #app .cart .panel .subTitle {
         position: absolute;
         right: 15px;
         top: 20px;
     }
     #app .cart .thead{
        display: none;
     }

     #app .cart .tr {
         display: block;
     }
     #app .cart .tool {
         display: flex;
     } 
     #app .cart .item .name h4 {
         height: auto;
         margin-top: 10px;
     }
     #app .cart .item .time {
         padding-top: 10px;
     }
     #app .cart .item .price {
         position: absolute;
         right: 0;
         bottom: 50px;
     }
     #app .cart #footer,
     #app .cart .panel-footer .number,
     #app .cart .panel-footer .attentionAllBtn {
         display: none;
     }
     #app .cart.pageFlex {
         padding-bottom: 50px;
     }
     #app .panel .panel-footer {
         height: 65px;
         line-height: 65px;
     }
     #app .cart .panel-footer .allSelect {
         padding-left: 15px;
     }
     #app .cart .panel-footer .button {
       padding-right: 0;
     }
     #app .cart .panel-footer .price {
         padding: 0;
     }
     #app .cart .panel-footer .goPlay {
         padding: 0 15px;
         height: 65px;
         border-radius: 0;
     }
     #app .downApp .main {
         text-align: center;
     }
     #app .downApp .head {
         margin: 50px 0 20px 0;
     }
     #app .downApp .head img {
         width: 80%;
     }
     #app .downApp .button {
         margin: 0 0 20px 0;
         float: none;
         width: 100%;
     }
     #app .downApp .erweima {
        float: none;
        display: inline-block;
        margin: 0
     }

     /*order*/
     #app .order .steps {
         margin-bottom: 30px;
     }
     #app .order .table {
         margin-top: 0;
     }
     #app .order .panel-heading .left {
         display: none;
     }

    /* index 20190726 */
    #app .index .modalAds img {
        width: 100%;
        height: auto
    }
    .index .mgTop70 {
        margin-top: 115px;
    }

    .index #page1 .textList {
        position: initial;
        bottom: auto;
        margin-top: 100px;
    }

    .index #page1 .bground {
        padding-top: 20px;
    }

    .index #page1 .img1 {
        width: 100%;
    }

    .index #page1 .bground .page-line {
        margin-left: 0;
        left: 0;
        top: 130px;
        width:100%;
    }

    .index #page1 .bground .dynamic {
        left: 0;
        top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 300px;
    }

    .index #page1 .landmark1 {
        margin-left: 0;
        left: 0;
        width:100%;
    }

    .index #page1 .textList ul {
        margin-right: 0;
    }
    .index #page1 .textList li {
        float: none;
        width: 100%;
        height: 120px;
        border:0;
        margin-right: 0;
    }
    .index .page-btn {
        position: inherit;
        left: auto;
        bottom: auto;
        margin-left: 0;
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
        background: #fff;
    }

    .index .page2 .exclusive {
        padding: 30px 0;
    }

    .index .page2 .exclusive ul {
        margin: 0 10px;
    }
    .index .page2 .exclusive li {
        width: 44%;
        margin: 0 3% 20px 3%;
        padding: 15px 0 0 0;
        height: 245px;
    }
    .index .page2 .exclusive li h2 {
        padding: 10px 0 0 0;
    }

    #app .index .title {
        padding-top: 30px !important;
    }

    .index .page3 .title span {
        display: block;
    }

    #app .index .page3.page {
        background-size: 420px auto;
        height: 500px;
    }

    .index .page3 .core-intro {
        margin-top: 50px;
    }

    .index .page3 .core-intro li {
        width: 49%;
        text-align: center;
    }
    .index .page3 .core-intro li img {
        width: 80%;
        height: auto;
    }
    .index .page3 .core-intro li:last-child {
        border-left: 1px solid #000
    }
    .index .page3 .core-intro li.link {
        display: none;
    }
    .index .page-btn-w {
        margin-top: -50px;
        background: none;
    }
    .index .page-btn-w button {
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
    .index .fixed-buttom {
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .index .fixed-buttom .wrap {
        width: auto;
        height: 85px;
        right: 0;
        line-height: 40px;
        padding: 10px 10px 30px 10px;
        left: 0;
    }
    .index .fixed-buttom .bottom-l,
    .index .fixed-buttom .bottom-r {
        display: none;
    }

    .index .fixed-buttom .fixedText {
        margin-right: 0;
    }
    .index .fixed-buttom .from-group {
        margin-top: 0;
        float: none;
    }
    .index .fixed-buttom .from-group .from-group-item {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .index .fixed-buttom .from-group .from-group-item input {
        flex:1;
        width: 100%;
        border-radius: 8px 0 0 8px;
    }
    .index .fixed-buttom .from-group .from-group-item .bttonm-btn  {
        position: inherit;
        top: auto;
        right: auto;
    }
    #app .index .fixed-buttom .bttonm-close {
        width: 15px;
        background-size: 15px 15px;
        position: absolute;
        float: none;
        right: 10px;
        top: 0px;
    }

    .index .page-Popup {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .index .page-Popup .popup-content {
        width: 90%;
        height: auto;
        position: inherit;
        margin-left: 0;
        padding-bottom: 30px;
        top: auto;
        left: auto;
        margin-top: 0;
    }

    .index .page-Popup .from-group {
        padding: 0 20px;
        margin-top: 30px;
    }
    .index .page-Popup .popup-content button.btn {
        width: 80%;
    }
    .index .page-Popup .from-group .from-group-item {
        width: 100%;
    }

    .index .page-Popup .from-group .from-group-item .form-control {
        line-height: 50px;
        padding-left: 80px;
        font-size: 14px;
    }

    .index .page-Popup .node {
        font-size: 12px;
    }

    #app .tLoginMenus .signIn {
        margin-top: 0;
    }
    #app .login-agreement-text .select {
        min-height: 80px;
    }

    #app .detail-intro .swiper-slide-active {
        position: relative;
        z-index: 999;
    }

}
