@charset "utf-8";
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp {line-height:1.5;font-family:Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:14px}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;-webkit-tap-highlight-color: transparent;}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;-webkit-text-size-adjust: none;}
hr {height: .02rem;margin: .1rem 0;border: medium none;border-top: .02rem solid #cacaca;}
body { background: #f8f8f8; color: #333;font-size: 14px;line-height: 1.8;}
a {color: #333;text-decoration: none;}
a:hover {color: #6abd79}

.clearfix:after{content:"";display:table;clear:both;}
.clearfix{*zoom:1;}

.wrapper {width: 1200px;margin: 0 auto}
.main {padding: 25px 0 40px 0;}

.w100 {width: 100%;}

.display-i-b {display: inline-block;}

.br50 {border-radius: 50%;}

.left {float: left;}
.right {float: right;}

.por {position: relative;}
.poa {position: absolute;}

.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}

input {
    outline: none;
}
input {-webkit-appearance:none;}

   
    