//纯色
@themeColor: #21CB65; // 主题色
@themeHoverColor: #78CA87; // 主题色hover
@subThemeColor: #A6D175; // 辅助主题色
@darkColor: #333333; // 黑色
@middleGrayColor: #666666; // 黑色
@grayColor: #999999; // 灰色
@lightGrayColor: #f8f8f8; // 浅灰

@whiteColor: #fff;  //白色
@orangeColor: #F5A623;
@errColor: #F11B1B;

@headerHeight: 1rem;

// font-size
@font12: 12px;
@font14: 14px;
@font15: 15px;
@font16: 16px;
@font18: 18px;
@font20: 20px;
@font22: 22px;
@font24: 24px;
@font26: 26px;

// input 
@buttonHeight: 40px;
@inputHeight: 40px;

@pagerHeight: 28px;
@line-height-computed: 20px;

@inputBorderGrayColor: #dfdfdf; // 输入框色
@subTitleColor: #a4a4a4;
@buttonDisableColor: #cccccc;

@couresThemeColor: #21CB65;
@teacherTagsColor: #ebebeb;

@tableBorderColor: #EBEBEB;

