<template>
  <div class="index">
    <Header />
    <div id="focusTop" ref="focus">
      <Focus :focusData="focusData" />
    </div>
    <Page2 />
    <div class="por">
      <Page3 />
      <div class="page-btn page-btn-w">
        <button class="btn btn-bg-primary" @click="appointment()">预约试听</button>
      </div>
    </div>
    <div class="page-Popup" v-show="popupShow">
      <div class="popup-content">
        <h2>
          注册免费领取试听课
          <i @click="pagePopup()"></i>
        </h2>
        <div class="from-group clearfix">
          <div class="from-group-item clearfix">
            <div class="phone">
              <span>手 机 号</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="请输入您的手机号"
              v-model.trim="phone"
              maxlength="11"
              onkeyup="this.value=this.value.replace(/\s+/g,'')"
            />
            <button type="button" class="sendCode" :disabled="codeIsDisabled">{{codeTxt}}</button>
          </div>
          <div class="from-group-item clearfix">
            <div class="phone">
              <span>验 证 码</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="请输入验证码"
              oninput="if(value.length > 4)value = value.slice(0, 4)"
            />
          </div>
          <div class="from-group-item code-group-item por">
            <div class="phone">
              <span>图片验证码</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="请输入图片验证码"
              oninput="if(value.length > 5)value = value.slice(0, 5)"
            />
            <div class="poa graphicCode">
              <div class="restCode poa" :class="{'active': verifyImgCode}"></div>
              <div class="right">
                <img class="webCode" :src="imageCodeData" />
              </div>
            </div>
          </div>
          <p class="node">未注册高思账号的手机号，登录时将自动注册</p>
          <div class="select">
            <label for="checkbox">
              <input type="checkbox" class="checkbox" checked id="checkbox" />
              登录代表自己同意
            </label>
            <a href="javascript:;" class="themeColor">《高思用户协议》</a>及
            <a href="javascript:;" class="themeColor">《高思隐私协议》</a>
          </div>
        </div>
        <button class="btn btn-bg-primary">注册并领取</button>
      </div>
    </div>
    <div class="fixed-buttom clearfix" v-show="bttonmShow">
      <div class="bottom-l"></div>
      <div class="wrap clearfix">
        <div class="fixedText">
          <p>免费获得价值300元试听课资格</p>
        </div>
        <div class="from-group clearfix">
          <div class="from-group-item clearfix">
            <div class="phone"></div>
            <input
              type="text"
              class="form-control"
              placeholder="请输入您的手机号"
              maxlength="11"
              v-model.trim="fixedPhone"
              onkeyup="this.value=this.value.replace(/\s+/g,'')"
            />
            <div class="bttonm-btn">
              <button class="btn btn-bg-orange" @click="appointment(fixedPhone)">立即领取</button>
            </div>
          </div>
          <div class="bttonm-close" @click="fixedButtom()"></div>
        </div>
      </div>
      <div class="bottom-r"></div>
    </div>
    <Footer :isSidebar="isSidebar" :footLink="footLink" />
    <!--弹窗广告-->
    <ModalAds :hideAds="hideAds" :WindAdsData="WindAdsData" @ToggleModalAds="HideModalAds" />
  </div>
</template>


<script>
import Page2 from "@/components/Page2";
import Page3 from "@/components/Page3";
import Footer from "@/components/Footer";
import Focus from "@/components/Focus";
import Header from "@/components/Header";
import ModalAds from "@/components/ModalAds";
export default {
  name: "index",
  data() {
    return {
      verifyImgCode: false,
      imageCodeData: "",
      thumbCode: null,
      nowIndex: 0,
      flag: false,
      isSidebar: false,
      phone: null,
      focusData: [],
      WindAdsData: [{ img_url: "", element: "" }],
      footLink: [],
      isArrow: true,
      isPageHomeSidebar: false,
      popupShow: false,
      bttonmShow: false,
      fixedPhone: null,
      name: null,
      modelShow: false,
      agreementActive: true,
      //验证码
      codeTxt: "获取验证码", //验证码内容
      count: 60, //间隔函数，1秒执行
      curCount: null, // 剩余秒
      codeIsDisabled: false, // 按钮置灰及不能点击
      interTimer: "", //定时器
      modelShow: false,
      modelShowb: false,
      hideAds: false,
      vcode: null
    };
  },
  asyncData(context, callback) {
    let option = {
      type: "get",
      api: "/manage/slide",
      query: {}
    };
    context.app.$request(option, res => {
      callback(null, { focusData: res.data });
    });
  },
  destroyed() {
    window.removeEventListener("scroll", this.bottomScrolls);
    window.removeEventListener("scroll", this.handleScrolls);
    window.removeEventListener("scroll", this.addEventScroll);
  },
  mounted() {
    this.getFocus();
    window.addEventListener("scroll", this.handleScrolls, true);
    window.addEventListener("scroll", this.addEventScroll.bind(this));
  },
  methods: {
    getFocus() {
      let option = {
        type: "get",
        api: "/manage/slide",
        query: {}
      };
      this.$request(option, res => {
        this.focusData = res.data;
      });
    },
    // 浮动条
    handleScrolls() {
      var top = document.documentElement.scrollTop;
      if (top > 600) {
        this.isSidebar = true;
      } else {
        this.isSidebar = false;
      }
    },
    addEventScroll() {
      var vm = this;
      if (!Boolean(vm.$refs.focus)) {
        return;
      }
      var tabsOffsetTop = vm.$refs.focus.offsetHeight;
      if (
        (window.pageYOffset ||
          document.documentElement.scrollTop ||
          document.body.scrollTop) > tabsOffsetTop
      ) {
        vm.bttonmShow = true;
      } else {
        vm.bttonmShow = false;
      }
    },
    fixedButtom() {
      this.bttonmShow = false;
    },

    pagePopup() {
      this.popupShow = false;
      this.vcode = "";
      clearInterval(this.interTimer);
      this.codeIsDisabled = false;
      this.codeTxt = "获取验证码";
      this.curCount = this.count;
    },

    //关闭弹窗广告
    HideModalAds(res) {
      console.log(res);
      this.hideAds = res;
    },
    appointment(fixedPhone) {
      this.phone = fixedPhone;
      this.popupShow = true;
      this.fixedPhone = "";
    }
  },
  head() {
    return{
        title:'国内中小学教育培训机构-高思教育',
    }
  }
};
</script>

<style lang='less' scoped>
@import "~assets/style/mixins";
@import "~assets/style/varibles";

.bottom-r {
  background: url("~static/img/index/bottom-r.png") no-repeat;
  background-size: cover;
  width: 360px;
  height: 161px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.bottom-l {
  background: url("~static/img/index/bottom-l.png") no-repeat;
  background-size: cover;
  width: 621px;
  height: 161px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.fixedText {
  float: left;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  margin-right: 32px;
  // margin-left: 90px;
}
.wrap {
  position: absolute;
  bottom: 0;
  right: 360px;
  background-color: #00d15d;
  height: 70px;
  line-height: 70px;
  width: 939px;
}
.fixed-buttom {
  width: 1920px;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -960px;
  z-index: 99;
  .from-group {
    float: left;
    height: 44px;
    margin-top: 13px;
    .from-group-item {
      float: left;
      width: 465px;
      height: 44px;
      padding: 0;
      position: relative;
      line-height: 43px;
      .phone {
        background: url("~static/img/index/phone.png") no-repeat;
        background-size: cover;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 5px;
        left: 10px;
      }
      input {
        width: 465px;
        height: 44px;
        border-radius: 8px;
        padding-left: 50px;
      }
      input:focus {
        border-color: #fff;
        .box-shadow(rgba(255, 255, 255, 0), 0.5s);
      }
      .bttonm-btn {
        position: absolute;
        right: 0;
        top: 0px;
        button {
          font-size: @font18;
          width: 130px;
          height: 44px;
          border-top-left-radius: 0;
          border-top-right-radius: 8px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 8px;
        }
      }
      ::-webkit-input-placeholder {
        color: #ccc;
      }
      ::-moz-placeholder {
        color: #ccc;
      }
    }
    .bttonm-close {
      float: left;
      background: url("~static/img/index/bottom-close.png") no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
      margin-top: 7px;
      margin-left: 33px;
      cursor: pointer;
      transition: 1s;
    }
    .bttonm-close:hover {
      transform: rotate(180deg); /*2D旋转 deg参数为旋转的角度*/
      -ms-transform: rotate(180deg); /*兼容IE9浏览器*/
      -webkit-transform: rotate(180deg); /*兼容谷歌浏览器*/
      -o-transform: rotate(180deg); /*兼容opera浏览器*/
      -moz-transform: rotate(180deg);
    }
  }
}
.page-btn {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -120px;
  button {
    width: 240px;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
  }
}
.page-btn-w .btn.btn-bg-primary {
  background-color: #fff;
  color: @themeColor;
  &:hover {
    .box-shadow(#fff, 0.5s);
  }
}
.page-Popup {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  .popup-content {
    position: absolute;
    width: 480px;
    height: 500px;
    border-radius: 4px;
    background-color: #fff;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -240px;
    .node,
    .select {
      text-align: center;
      color: #666666;
    }
    .select {
      font-size: 12px;
    }
    button.sendCode {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -9px;
      font-size: @font12;
      color: #6abd79;
      cursor: pointer;
      width: auto;
      height: auto;
      background-color: #fff;
    }
    h2 {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      background-color: #25cd6a;
      color: #fff;
      line-height: 70px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative;
      i {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: url(~static/img/index/close.png) no-repeat;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        right: 20px;
        cursor: pointer;
        transition: 1s;
      }
      i:hover {
        transform: rotate(180deg); /*2D旋转 deg参数为旋转的角度*/
        -ms-transform: rotate(180deg); /*兼容IE9浏览器*/
        -webkit-transform: rotate(180deg); /*兼容谷歌浏览器*/
        -o-transform: rotate(180deg); /*兼容opera浏览器*/
        -moz-transform: rotate(180deg);
      }
    }
    button {
      width: 320px;
      height: 56px;
      border-radius: 8px;
      margin: 20px auto 0;
      display: block;
      font-size: @font18;
    }
  }
}
.page-Popup .from-group {
  margin-top: 40px;
  .from-group-item {
    margin: 0 auto 20px;
    width: 400px;
    padding: 0 !important;
    .phone {
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -20px;
    }
    input.form-control {
      height: 56px;
      line-height: 56px;
      border-radius: 8px;
      background-color: #fff;
      padding-left: 105px;
    }
    ::-webkit-input-placeholder {
      color: #ccc;
    }
    ::-moz-placeholder {
      color: #ccc;
    }
    .graphicCode {
      top: 7px;
      right: 7px;
      .restCode {
        background: url("~static/img/index/login-restcode.png") no-repeat;
        width: 22px;
        height: 22px;
        top: 50%;
        right: -32px;
        margin-top: -11px;
        cursor: pointer;
        &.active {
          background: url("~static/img/CheckBox-active.png") no-repeat;
        }
      }
    }
  }
}
.headers {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.mgTop70 {
  margin-top: 70px;
}
.foots {
  height: auto !important;
}
.index {
  height: 100%;
  overflow: hidden;
}
.swiper-slide-active {
  .title {
    animation: fadeInDown 1s 1s ease both;
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .text {
    animation: fadeInUp 1s 1s ease both;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.index {
  .page {
    .title {
      padding-top: 150px;
    }
    .text {
      font-size: 24px;
      padding: 20px;
    }
  }
  // .icon-arrow-top {
  // transform:rotateX(180deg);
  // overflow: hidden;
  // position: absolute;
  // left: 50%;
  // bottom: -45px;
  // background: rgba(0, 0, 0, 0.3);
  // width: 80px;
  // height: 80px;
  // margin-left: -20px;
  // line-height: 80px;
  // text-align: center;
  // border-radius: 50%;
  // z-index: 999;
  // display: block;
  // color: #fff;
  // font-size: 24px;
  // &::before {
  // animation: moveIconUp ease 1.5s both infinite;
  // }
  // }
}
.swiper-slide {
  overflow: hidden;
}
@keyframes moveIconUp {
  0% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
}
@media (max-width: 1280px) {
  #page1 {
    background-position: 50% 30%;
  }
  .index {
    .page {
      .title {
        padding-top: 100px;
      }
    }
    // .page.page4 .caption {
    // padding: 100px 0 30px 0;
    // }
    // .page.page4 li h3 {
    // padding: 10px 0;
    // }
    // .page.page4 li .button {
    // margin-top: 0;
    // }
  }
}
</style>